mixin button(classBlock, classModifier, text, typeArg, titleArg, icon, altArg)
  - let classBasic = 'btn'
  - let classMod = classModifier ? ` ${classBasic}--${classModifier}` : ''
  - let textBtn = text ? text : ''
  
  button(class=`${classBlock}__${classBasic} ${classBasic}${classMod}` type=typeArg title=titleArg)= textBtn
    if icon
      img.btn__icon(src=icon, alt=altArg)
