-
  let socialIcon = {
    facebook: 'img/icons/sprite-multi.svg#facebook',
    twitter: 'img/icons/sprite-multi.svg#twitter', 
    linkedin: 'img/icons/sprite-multi.svg#linkedin', 
  }

mixin social(classBlock, arr, classModifier)
  - let classBasic = 'social'
  - let classMod = classModifier ? ` ${classBasic}--${classModifier}` : ''

  ul(class=`${classBlock}__social social${classMod}`)
    each item in arr
      li.social__item
        a(class=`social__link social__link--${item.title}`, href=item.href)
          svg(class=`social__svg social__svg--${item.title}`)
            use(xlink:href=socialIcon[item.title])
